<h1>Card Placeholder</h1>

<h2>Card Dark</h2>
<mts-card-placeholder [containerClass]="['my-wrapper']"></mts-card-placeholder>

<h2>Card Light</h2>
<mts-card-placeholder
  [theme]="'light'"
  [containerClass]="'my-wrapper'"
></mts-card-placeholder>

<h2>Info Column Dark</h2>
<mts-info-column-placeholder
  [containerClass]="'my-wrapper'"
></mts-info-column-placeholder>

<h2>Info Column Light</h2>
<mts-info-column-placeholder
  [theme]="'light'"
  [containerClass]="'my-wrapper'"
></mts-info-column-placeholder>

<h2>Table Dark</h2>
<mts-table-placeholder [containerClass]="'my-wrapper'"></mts-table-placeholder>

<h2>Table Light</h2>
<mts-table-placeholder
  [theme]="'light'"
  [containerClass]="'my-wrapper'"
></mts-table-placeholder>
