<h1>Card Placeholder</h1>

<h2>Card Dark</h2>
<mts-card-placeholder></mts-card-placeholder>

<h2>Card Light</h2>
<mts-card-placeholder [theme]="'light'"></mts-card-placeholder>

<h2>Info Column Dark</h2>
<mts-info-column-placeholder></mts-info-column-placeholder>

<h2>Info Column Light</h2>
<mts-info-column-placeholder [theme]="'light'"></mts-info-column-placeholder>

<h2>Table Dark</h2>
<mts-table-placeholder></mts-table-placeholder>

<h2>Table Light</h2>
<mts-table-placeholder [theme]="'light'"></mts-table-placeholder>
